@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent; /* Set background to transparent */
  @apply min-h-screen;
  @apply text-black;
  @apply bg-gradient-to-b from-white to-green-200;
}


  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}
