@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.gradient-container {
  background: linear-gradient(to right, rgb(113, 204, 209) , rgb(113, 204, 209), rgb(181, 198, 119), rgb(241, 192, 62));
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent; /* Set background to transparent */
  @apply min-h-screen;
  background: rgb(32, 52, 65);
}


  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.curved-bottom {
  clip-path: ellipse(80% 100% at 50% 0%);
}
.bg-green1 {
  background: rgb(30, 153, 150);
}