.gradient-background {
    position: relative;
    overflow: hidden;
  }
  
  .gradient-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(113, 204, 209) , rgb(113, 204, 209), rgb(181, 198, 119), rgb(241, 192, 62));
    opacity: 0.45;
    z-index: -1;
  }
  
  .gradient-background > * {
    position: relative;
    z-index: 1;
  }
  